<h1>Reviews for {{album.title}}</h1>
<p>Artist: {{album.artist}}</p>
<p>Genre: {{album.genre}}</p>

{{#if reviews.length}}
  <ul>
    {{#each reviews}}
      <li>
        <h3>{{user.username}}</h3>
        <p>Rating: {{rating}}/10</p>
        <p>{{reviewText}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No reviews found for this album......</p>
  <a href="./albumspecificreview.handlebars">Click Here To Add One!</a>
{{/if}}

